@import url('./assets/fonts/Anton/Anton-Regular.ttf');
@import url('./assets/fonts/Figtree/static/Figtree-Black.ttf');
@import url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');

:root {
    /* BACKGROUND COLORS */
    --base: #292929; /* Change on darkmode */
    --base-primary: #FFFFFF; /* Change on darkmode */
    --base-primary-100: #E9DFFC;
    --base-secondary: #000000; /* Change on darkmode */
    --accent: #292929;
    --accent-primary-100: #BE9FF6;
    --accent-primary-300: #A87FF3;
    --accent-secondary-100: #F6FFF6;
    --accent-secondary-900: #64C661;
    --primary: #FFFFFF; /* Change on darkmode */
    --secondary: #000000; /* Change on darkmode */

    /* TEXT COLORS */
    --txt-base: #292929; /* Change on darkmode */
    --txt-primary: #FFFFFF;
    --txt-accent-secondary: #64C661;
    --txt-secondary: #000000;
    --txt-accent-primary-900: #784DC7;

    /* UI COLORS */
    --btn-bg: #292929;
    --socials-bg: #E6E6E6;
    --btn-secondary: #784DC7;
}

.darkmode {
    /* BACKGROUND COLORS */
    --base: #FFFFFF;
    --primary: #000000;
    --secondary: #FFFFFF;
    --base-primary: #0B0B0B;
    --base-primary-100: #0b0b0b;
    --base-secondary: #737373;

    /* TEXT COLORS */
    --txt-base: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    background: var(--primary);
    color: var(--txt-base)
}

h1,
h2,
h3 {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    color: var(--txt-base);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--txt-base);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn-theme {
    background: var(--btn-bg);
    color: var(--txt-primary);
    transition: all ease .3s;
}

.wrapper {
    padding: 0 30px;
}

header {
    position: relative;
}
/* NAV SECTION */
.nav-contents {
    display: flex;
    flex-direction:column;
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 30px;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.4);
    background: var(--base-primary);
}

.logo-icon path {
    fill: var(--base);
}

.menu-btn {
    font-size: 2rem;
    background: transparent;
    color: var(--base)
}

/* NAV LIST */
.nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 900;
    opacity: 0;
    width: 90%;
    height: 100vh;
    background: var(--base-primary);
    padding: 80px 40px;
    box-shadow: -6px 0px 7px 0px rgba(0,0,0,0.4);
    transition: all ease-in-out;
    transition: .3s;
}

.nav-list li {
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.nav-links {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: inline-block;
    font-size: 1.25rem;
    transition: all ease .3s;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    background: var(--base-primary);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.mobile-contact-btn {
    display: inline-block;
    width: 100%;
    padding: 12px 25px;
    margin-top: 50px;
    font-size: 1.25rem;
    text-align: center;
    color: var(--txt-primary);
    background: var(--btn-bg);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all ease .3s;
}

.contact-btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 1rem;
}

/* THEME CONTAINER */
.mtheme-toggle-btn {
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

.mobile-toggle-checkbox {
    display: none;
}

.mobile-toggle-label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    background: var(--base);
}

.mobile-toggle-label svg {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.mobile-toggle-label .moon-icon {
    display: none;
}   
.darkmode .mobile-toggle-label .sun-icon {
    display: none;
}
.darkmode .mobile-toggle-label .moon-icon {
    display: block;
}

.mobile-toggle-checkbox:checked + .mobile-toggle-label {
    background: #ffec70;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.theme {
    display: none;
}

/* HERO SECTION */
.hero-content {
    margin: 100px auto 0;
    width: clamp(280px, 64vw, 660px);
}

.hero-heading {
    font-size: clamp(4rem, 19vw, 12.5rem);
    letter-spacing: -3px;
    text-transform: uppercase;
    line-height: 90%;
    text-align: center;
}

.designer-name {
    width: 100%;
    margin: 0 auto;
}

.social-media {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.social-media-links {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--socials-bg);
    border-radius: 10px;
}

.social-icons {
    width: 100%;
}

.social-icons path {
    fill: var(--secondary);
}

.linkedin .linkedin-pathB {
    fill: var(--primary);
}

.hero-cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-top: 25px;
    padding: 16px 24px 16px 32px;
    font-size: 0.875rem;
}
.d-arrow-icon {
    width: 28px;
}

.portal, .hero-img {
    display: none;
}

/* END OF HEADER SECTION */
.stats {
    margin-top: clamp(50px, 10vw, 200px);
}

.stats-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 77px;
    background: var(--accent-secondary-100);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 62px 0;
}

.stats-contents h2 {
    font-size: clamp(3rem, 20vw, 6rem);
    text-align: center;
    color: var(--txt-accent-secondary);
}

.stats-contents h3 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    text-transform: capitalize;
    text-align: center;
    color: var(--txt-accent-secondary);
}

.dawn-icon {
    display: none;
}
/* END OF STATS SECTION */

.portfolio {
    margin-top: clamp(50px, 10vw, 200px);
}

.portfolio h3 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
    margin-top: 36px;
    font-weight: 700;
}

.project-card {
    flex: 1 1 100%;
    max-width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: inset 0px 0px 2px var(--base-secondary);
    border-radius: 10px;
    background: var(--base-primary);
}

.project-img {
    width: 100%;
    aspect-ratio: 16/9; /* Keeps image in the same proportion */
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.project-img img {
    object-fit: cover;
    display: block;
}

.project-contents h4 {
    font-size: 1.75rem;
    margin-top: 23px;
}

.project-tags {
    margin-top: 21px;
    display: flex;
    gap: 5px;
}

.tag {
    width: 84px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 4px;
    font-size: clamp(0.75rem, 1vw, 0.875rem);
    color: var(--txt-accent-primary-900);
    background: var(--base-primary-100);
    box-shadow: inset 0px 0px 2px var(--accent-primary-100);
    border-radius: 50px;
}

.project-contents button {
    display: inline-block;
    width: 100%;
    margin-top: 23px;
    padding: 20px 12px;
    text-align: center;
    font-size: 1rem;
}
/* END OF PORTFOLIO SECTION */

.skills {
    margin-top: clamp(50px, 10vw, 200px);
}

.skills-contents h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

.skill-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 40px 50px 60px 40px;
    box-shadow: inset 0px 0px 2px #737373;
    background: var(--base-primary-100);
    border-radius: 10px;
    margin-top: 20px;
}

.skill-level {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url('./assets/images/graph.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 2.25rem;
    letter-spacing: -3px;
    color: var(--txt-base);
    font-weight: 900;
}

.skillCard-content {
    text-align: center;
}

.skillCard-content h4 {
    font-size: 2.25rem;
    letter-spacing: -3px;
    color: var(--txt-base);
    font-weight: 900;
}

.skillCard-content p {
    font-size: 1.25rem;
    margin-top: 20px;
    color: var(--txt-base);
}
/* END OF SKILLS SECTION */

.testimonial {
    width: 100%;
    background-image: url('./assets/images/testimonial-bg-lite.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: clamp(50px, 10vw, 200px);
}

body.darkmode .testimonial {
    background-image: url('./assets/images/testimonial-bg-drk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-position: center;
}

.testimonial-contents {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-top: clamp(70px, 10vw, 147px);
    padding-bottom: clamp(70px, 10vw, 147px);
    font-size: clamp(2.25rem, 3vw, 3rem);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.testimonial h4 {
    font-size: clamp(1.25rem, 3vw, 3rem);
    margin-top: 60px;
}

.shield-icon {
    display: inline-block;
    margin: 60px auto 0;
    width: 72px;
}
/* END OF TESTIMONIAL SECTION */

.aboutMe-contents {
    margin-top: clamp(50px, 10vw, 200px);
}

.aboutMe-contents .heading {
    display: flex;
    align-items: center;
    gap: 30px
}

.heading h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

.zigzag-icon {
    display: none;
} 

.zigzag-icon path {
    stroke: var(--accent);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.reverse-desc {
    flex-direction: column-reverse;
}
.description .right {
    position: relative;
}

.desc-heading {
    font-size: clamp(1rem, 3vw, 2rem);
    letter-spacing: -1px;
    color: var(--txt-base);
    margin-top: 50px;
}

.gradient-txt-color {
    background: #FA709A;
    background: linear-gradient(to right, #FA709A 0%, #FEE140 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.passion-gradient-color {
    background: #84FAB0;
    background: linear-gradient(to right, #84FAB0 0%, #8FD3F4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name-gradient-color {
    background: #E0C3FC;
    background: linear-gradient(to right, #E0C3FC 0%, #8EC5FC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.country-gradient-color {
    background: #FFE76A;
    background: linear-gradient(to right, #FFE76A 20%, #65C8FF 23%, #65C8FF 50%, #65C8FF 72%, #FF0000 72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc-img {
    position: relative;
}

.wave-icon {
    width: 50px;
    height: 51px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    object-fit: cover;
}
/* END OF ABOUT ME SECTION */

footer {
    background: var(--accent);
    margin-top: clamp(150px, 20vw, 335px);
    position: relative;
    padding-bottom: 47px;
}

.acknowledgement {
    background: var(--accent-primary-300);
    color: var(--txt-primary);
    border-radius: 0.5rem;
    min-height: clamp(112px, 20vw, 180px);
    position: relative;
    top: -80px;
}

.acknowledgement-contents {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.acknowledgement-txt {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    line-height: 1.4;
    padding: 2rem 1rem;
    flex: 1 1 70%;
    max-width: 70%;
}

.footer-img {
    flex: 1 1 30%;
    max-width: 30%;
    margin-left: -10px;
    -webkit-user-drag: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.footer-icon {
    position: absolute;
    -webkit-user-drag: none;
    width: clamp(82px, 20vw, 150px);
    height: clamp(69px, 15vw, 125px);
    
}
.footer-bg-icon-bottomLeft {
    display: none;
    bottom: 0;
    left: 0;
}
.footer-bg-icon-topRight {
    top: 0;
    right: 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navLinks {
    color: #FFFFFF;
    font-size: clamp(0.75rem, 3vw, 1.25rem);
}

/* MEDIA QUARIES */
@media screen and (min-width: 428px) {
    .wrapper {
        padding: 30px;
    }

    .acknowledgement {
        top: -100px;
    }
}

@media screen and (min-width: 640px) {
    .wrapper {
        padding: 50px;
    }

    .acknowledgement {
        top: -150px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 50px;
    }

    .project-card {
        flex: 1 1 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding: 50px;
    }

    .btn-theme:hover {
        background: var(--btn-secondary);
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-contents {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav {
        position: static;
        box-shadow: none;
        padding: 0;
        width: fit-content;
        height: auto;
        background: transparent;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-left: 90px;
        position: static;
        opacity: 1 !important;
        right: auto !important;
        box-shadow: none;
        padding: 0;
        height: auto;
        background: transparent;
    }

    .nav-list li {
        margin-top: 0;
        width: auto;
        border-bottom: none;
    }

    .nav-links {
        padding: 0;
        width: auto;
        height: auto;
        display: inline-block;
        font-size: 1.25rem;
        transition: all ease .3s;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .mobile-contact-btn {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .mtheme-toggle-btn {
        display: none;
    }

    .theme {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .theme-toggle {
        position: relative;
        width: 56px;
        height: 32px;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        transition: background 0.3s;
        background: var(--base);
    }

    .toggle-ball {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 2px;
        right: 3px;
        background: #FFFFFF;
        border-radius: 50%;
        transition: transform 0.3s, background .3s;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    }

    .toggle-checkbox:checked + .toggle-label {
        background: #ffec70;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
    }

    .toggle-checkbox:checked + .toggle-label .toggle-ball {
        transform: translateX(-23px);
    }

    .hero {
        margin-top: 100px;
    }

    .social-media-links {
        width: 52px;
        height: 52px;
    }

    .social-icons {
        width: 100%;
    }
    .portal-icon path {
        fill: var(--base);
    }
    /* END OF HEADER SECTION */

    .stats-contents {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 127px;
    }

    .stats-contents h2 {
        font-size: clamp(4rem, 5vw, 6rem);
    }

    .stats-contents h3 {
        font-size: clamp(1rem, 2vw, 2.25rem);
    }
    /* END OF STATS SECTION */

    .project-card {
        flex: 1 1 calc(34% - 30px);
        max-width: calc(34% - 30px);
    }
    /* END OF PROJECT SECTION */

    .skill-card {
        flex-direction: row;
        align-items: center;
    }

    .skillCard-content {
        flex: 1 1 calc(50% - 20px);
        text-align: left;
    }
    /* END OF SKILLS SECTION */

    .description {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .description .left, .description .right {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .zigzag-icon {
        display: inline-block;
        flex: 1 1 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }

    .darkmode .zigzag-icon {
        filter: invert(1);
    }

    .about-skills {
        margin: 106px 72px 48px 0px;
    }
    .about-passion {
        margin: 136px 0px 135px 40px;
    }
    .about-author {
        margin: 99px 70px 99px 0px;
    }

    .acknowledgement-txt {
        width: 80%;
    }

    .footer-bg-icon-bottomLeft {
        display: block;
    }

    .footer-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .footer-nav ul {
        gap: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        padding: 50px;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .hero-content {
        display: flex;
        width: clamp(450px, 63vw, 820px );
        margin: 41px 0;
    }

    .hero-heading {
        text-align: left;
        font-size: clamp(6rem, 12vw, 12.5rem)
    }

    .designer-name {
        margin: 0;
    }

    .portal, .hero-img {
        display: flex;
    }

    .hero-img {
        align-items: center;
        justify-content: center;
        width: clamp(450px, 45vw, 693px);
    }

    .hero-img img {
        object-fit: cover;
        height: 100%;
    }

    /* END OF HEADER SECTION */
    .stats-contents{
        gap: 77px;
    }

    .stats-contents h2 {
        font-size: clamp(5rem, 7vw, 8rem);
    }

    .stats-contents h3 {
        font-size: clamp(2rem, 2vw, 2.5rem);
        text-align: left;
    }

    .dawn-icon {
        display: inline-block;
        width: 80px;
    }
    /* End OF STATS SECTION */

    .project-card {
        flex: 1 1 calc(25.33% - 30px);
        max-width: calc(25.33% - 30px);
    }
    /* END OF PROJECT SECTION */

    .skill-cards {
        flex-direction: row;
    }

    .skill-card {
        flex-direction: row;
        align-items: center;
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    /* END OF SKILLS SECTION */

    .about-skills {
        margin: 76px 129px 66px 0px;
    }
    .about-passion {
        margin: 176px 0px 175px 82px;
    }
    .about-author {
        margin: 168px 129px 0px 0px;
    }
    /* END OF ABOUT ME SECTION */
}

@media screen and (min-width: 1536px) {
    .wrapper {
        width: 1528px;
        margin: 0 auto;
        padding: 50px 0;
    }
}